

.brand-link{
	border-bottom: 1px solid #fff!important;
}

.color-icono{
	color:white!important;
}

.user-panel{
	border-bottom: 1px solid #fff!important;
}

.sidebar-dark-primary{
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tablas tbody tr td{
	text-align: center;
}

.personal-borde-redondeo{
	border-radius: 15px;
}
.personal-img-modulo-tamaño{
  	height: 200px;
}
.personal-img-modulo-tamaño-inspeccionar{
  	height: 100px;
}
.personal-colorfondo-colorprimario{
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.subtitulo-cliente{
	font-weight: 900;
	font-style: oblique;
}